# Created by https://www.toptal.com/developers/gitignore/api/dbt
# Edit at https://www.toptal.com/developers/gitignore?templates=dbt

### dbt ###
target/
dbt_modules/
dbt_packages/
logs/

# End of https://www.toptal.com/developers/gitignore/api/dbt

.DS_Store
.user.yml

.venv